.vscode/

*dSYM/
*.out
*.png

# Coding Test
KaKaoEnterprise/
Programmers/2021카카오신입공채/
Programmers/한화생명/
Programmers/카카오커머스/
Codility/네이버경력공채/
Codility/SKT모빌리티/
Testdome/하이퍼커넥트/
Testdome/십일번가/
Goorm/스코페1차/

# Test Project
JavaKotlinTest/